@use "src/globalStyles/mixins" as *;

.linkWrapper{
    @include flexRow;

    input {
        @include inputFields;
        width: 500px;
        height: var(--inline-element-height);
    }


    @media only screen and (max-width: 749px) {
            width: 100%;
            flex-direction: column;
            select {
                width: 90%;
            }
            input {
                width: 90%;
                font-size: inherit;
            }
            button {
                width: 90%;
            }
    }
}


@media only screen and (max-width: 749px) {
 
    .linkWrapper + button {
        width: 90%;
    }
}

