@use "src/globalStyles/mixins" as *;

.submitRow {
    @include flexRow;
 
    select {
        height: var(--inline-element-height);
        border-radius: var(--border-radius);
        box-sizing: border-box;
        border: none;
        color: var(--color-text);
        font-size: inherit;
    }

    @media only screen and (max-width: 749px) {
        width: 90%;
        flex-direction: column ;
        select {
            width: 100%;
            text-align: center;
        }

        button {
            width: 100%;
        }
    }
}