.App {
  background-color: rgb(185, 206, 240);
  height: 100vh;
  display: grid;
  grid-template-rows: 50px auto 20px;
  grid-template-columns: auto;
  row-gap: var(--gutter);
}

main {
  display: flex;
  justify-content: center;

  > div {
    width: 900px;
  }

}

header {
  background-color: var(--color-primary);
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-header);

  a {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 300;
    font-family: "Open Sans";
  }
}

footer {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: rgb(122, 122, 122);
    font-size: 10px;
  }
}